language: rust
dist: bionic
before_install:
    - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list'
    - sudo apt-key adv --keyserver 'hkp://keyserver.ubuntu.com:80' --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654
    - sudo apt-get update
    - sudo apt-get -y install ros-melodic-ros-base ros-melodic-tf2-ros ros-melodic-tf2-msgs ros-melodic-tf2-geometry-msgs gfortran
before_script:
    - source /opt/ros/melodic/setup.bash
script:
    - cargo test  
  